body {
    font: farah;
    letter-spacing: 1px;
}

header {
    background-color: #DAE1DC;
    height: 100vh;
    overflow: auto;
}

#name {
    color: #4D8E63;
    text-align: center;
    font-size: 50px;
    padding-top: 250px;
    font-weight: 600;
    letter-spacing: 6px;
}

#subject {
    color: #4D8E63;
    opacity: 0.85;
    text-align: center;
}

#secondText {
    opacity: 0.85;
    text-align: center;
    margin-bottom: 50px;
}

button {
    width: 10%;
    height: 35px;
    margin: 5px;
    font-size: 80%;
    border-radius: 10px;
    background-color: #506256;
    color: aliceblue;
}

button:hover {
    background-color: #7FAE8F;
}

#menu {
text-align: center;
flex-direction: row;
}

h1 {
    color: #4D8E63;
}

#profile {
    height: 100vh;
    background-color: #DAE1DC;
}

#skills {
    height: 100vh;
    background-color: #DAE1DC;
}

#experiences {
    height: 100vh;
    background-color: #DAE1DC;
}

#education {
    height: 100vh;
    background-color: #DAE1DC;
}

#pImg {
    border-radius: 25%;
    margin: 5% 0 8% 13%;
}

ul {
    list-style: none;
    padding: 0 10px 0 10px;
}

li  {
    margin-bottom: 10%;
}

#info {
    float: right;
    margin: 5% 13% 0 0;
    width: 25%;
    background-color: #BBC6BC;
    border-radius: 8%;
    padding: 10px;
    hyphens: auto;
    word-break: break-all;
}

.material-icons {
    margin-right: 7%;
    float: left;
}

.fab {
    margin-right: 8%;
    margin-left: 1%;
    float: left;
}

li.a {
    float: right;
} 

#story {
    margin: 0 13% 0 13%;
    text-align: center;
    letter-spacing: 2px;
    line-height: 180%;
    background-color: #BBC6BC;
    border-radius: 15px;
    padding: 10px;
    width: 72.5%;
}

#pText{
    text-align: center;
    padding-top: 80px;
    font-size: 160%;
    letter-spacing: 4px;
}

.row {
    margin: 5% 0 0% 13%;
    float: left;
    width: 36%;
    background-color: #BBC6BC;
    border-radius: 15px;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

#logo {
    margin-right: 7%;
    margin-top: 2px;
    float: left;
}

#lang {
    float: right;
    margin: 5% 13% 8% 0;
    width: 22%;
    background-color: #BBC6BC;
    border-radius: 15px;
    padding: 10px;
}

.side {
    float: left;
    width: 20%;
    margin-bottom: 4%;
  }
  
.middle {
    margin-bottom: 4%;
    float: right;
    width: 75%;
  }

  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }

  .bar-java {width: 66%; height: 18px; background-color: #5892DD;}
  .bar-html {width: 71%; height: 18px; background-color: #DE341F;}
  .bar-css {width: 61%; height: 18px; background-color: #0E4DB5;}  
  .bar-script {width: 52%; height: 18px; background-color: #F3D204;}
  .bar-react {width: 67%; height: 18px; background-color: #28C9E6;}
  .bar-angular {width: 38%; height: 18px; background-color: #DE341F;}
  .bar-sql {width: 42%; height: 18px; background-color: #2EA2E5;}
  .bar-jquery {width: 33%; height: 18px; background-color: #091319;}
  .bar-git {width: 48%; height: 18px; background-color: #EF6123;}
  .bar-json {width: 50%; height: 18px; background-color: #2196F3;}

  #ss {
    margin-bottom: 6%;
    overflow: auto;
  }

  .work {
    margin: 5% 13% 8% 0;
    float: right;
    width: 32%;
    background-color: #BBC6BC;
    border-radius: 15px;
    padding: 10px;
  }

  .development {
    margin: 5% 0 8% 13%;
    float: left;
    width: 32%;
    background-color: #BBC6BC;
    border-radius: 15px;
    padding: 10px;
  }

  #workDetail {
    margin-bottom: 12%;
  }

  #title {
    font-weight: 600;
    margin-bottom: 1.2%;
  }

  #workTitle {
    float: left;
    width: 60%;
  }

  #workPeriode {
      float: right;
      width: 30%;
      text-align: right;
  }

  #developmentDetail {
      margin-bottom: 12%;
  }

  #developmentTitle {
      float: left;
      width: 70%;
  }

  #developmentPeriode {
    float: right;
    width: 15%;
    hyphens: auto;
    word-break: break-all;
  }

  .educationSection {
    margin: 5% 13% 8% 10%;
    float: right;
    width: 72.5%;
    background-color: #BBC6BC;
    border-radius: 15px;
    padding: 10px;
  }

  #study {
    margin-bottom: 6.5%;
  }

  #detail {
    float: left;
    width: 70%;
  }

  #year {
    float: right;
    width: 15%;
    text-align: right;
  }

