body {
    font: farah;
    letter-spacing: 1px;
}

header {
    background-color: #DAE1DC;
    height: 100vh;
    overflow: auto;
}

#name {
    color: #4D8E63;
    text-align: center;
    font-size: 50px;
    padding-top: 250px;
    font-weight: 600;
    letter-spacing: 6px;
}

#subject {
    color: #4D8E63;
    opacity: 0.85;
    text-align: center;
}

#secondText {
    opacity: 0.85;
    text-align: center;
    margin-bottom: 50px;
}

button {
    width: 10%;
    height: 35px;
    margin: 5px;
    font-size: 80%;
    border-radius: 10px;
    background-color: #506256;
    color: aliceblue;
}

button:hover {
    background-color: #7FAE8F;
}

#menu {
text-align: center;
flex-direction: row;
}

h1 {
    color: #4D8E63;
}

#profile {
    height: 100vh;
    background-color: #DAE1DC;
}

#skills {
    height: 100vh;
    background-color: #DAE1DC;
}

#experiences {
    height: 100vh;
    background-color: #DAE1DC;
}

#education {
    height: 100vh;
    background-color: #DAE1DC;
}

#pImg {
    border-radius: 50px;
    margin: 70px 100px 80px 150px;
}

ul {
    list-style: none;
    padding: 0 10px 0 10px;
}

li  {
    margin-bottom: 12px;
}

#info {
    float: right;
    margin: 70px 150px 80px 100px;
    /* font-size: 18px; */
    background-color: #BBC6BC;
    border-radius: 15px;
    padding: 10px;
}

.material-icons {
    margin-right: 10px;
    float: left;
}

.fab {
    margin-right: 14px;
    margin-left: 3px;
    float: left;
}

li.a {
    float: right;
} 

#story {
    margin: 0px 120px 80px 150px;
    /* font-size: 20px; */
    text-align: center;
    letter-spacing: 2px;
    line-height: 25px;
    background-color: #BBC6BC;
    border-radius: 15px;
    padding: 10px;
    width: 70%;
}

#pText{
    text-align: center;
    padding-top: 80px;
    font-size: 160%;
    letter-spacing: 3px;
}

#prog {
    margin: 70px 0px 80px 150px;
    float: left;
    width: 35%;
}

.row {
    margin: 70px 0px 80px 150px;
    float: left;
    width: 35%;
    background-color: #BBC6BC;
    border-radius: 15px;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

#logo {
    margin-right: 12px;
    margin-top: 2px;
    float: left;
    
}

#lang {
    float: right;
    margin: 70px 150px 80px 0px;
    width: 22%;
    background-color: #BBC6BC;
    border-radius: 15px;
    padding: 10px;
}

.side {
    float: left;
    width: 30%;
    margin-bottom:20px;
  }
  
  .middle {
    margin-bottom:20px;
    float: left;
    width: 70%;
  }

  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }

  .bar-java {width: 70%; height: 18px; background-color: #5892DD;}
  .bar-html {width: 75%; height: 18px; background-color: #DE341F;}
  .bar-css {width: 65%; height: 18px; background-color: #0E4DB5;}  
  .bar-script {width: 55%; height: 18px; background-color: #F3D204;}
  .bar-react {width: 70%; height: 18px; background-color: #28C9E6;}
  .bar-angular {width: 40%; height: 18px; background-color: #DE341F;}
  .bar-sql {width: 45%; height: 18px; background-color: #2EA2E5;}
  .bar-jquery {width: 35%; height: 18px; background-color: #091319;}
  .bar-git {width: 50%; height: 18px; background-color: #EF6123;}
  .bar-json {width: 50%; height: 18px; background-color: #2196F3;}

  #ss {
    margin-bottom: 20px;
    overflow: auto;
  }

  .work {
    margin: 70px 150px 80px 0px;
    float: right;
    width: 32%;
    background-color: #BBC6BC;
    border-radius: 15px;
    padding: 10px;
  }

  .development {
    margin: 70px 0px 80px 150px;
    float: left;
    width: 32%;
    background-color: #BBC6BC;
    border-radius: 15px;
    padding: 10px;
  }

  #workDetail {
    margin-bottom: 60px;
  }

  #title {
    font-weight: 600;
    margin-bottom: 4px;
  }

  #workTitle {
    float: left;
    width: 65%;
  }

  #workPeriode {
      float: right;
      width: 28%;
      text-align: right;
  }

  #developmentDetail {
      margin-bottom: 60px;
  }

  #developmentTitle {
      float: left;
      width: 70%;
  }

  #developmentPeriode {
    float: right;
    width: 15%;
    hyphens: auto;
    word-break: break-all;
  }

  .educationSection {
    margin: 70px 150px 80px 150px;
    float: right;
    width: 70%;
    background-color: #BBC6BC;
    border-radius: 15px;
    padding: 10px;
  }

  #study {
    margin-bottom: 60px;
  }

  #detail {
    float: left;
    width: 70%;
  }

  #year {
    float: right;
    width: 15%;
    text-align: right;
  }

