html, body {
    font-family: lato;
    letter-spacing: 1px;
    height: 100%;
    background-color: #DAE1DC;
    font-size: 15px;
}

header {
    background-color: #DAE1DC;
    height: 100vh;
    overflow: auto;
}

#name {
    color: #4D8E63;
    text-align: center;
    font-size: 50px;
    padding-top: 250px;
    font-weight: 600;
    letter-spacing: 6px;
}

#subject {
    color: #4D8E63;
    opacity: 0.85;
    text-align: center;
}

#secondText {
    opacity: 0.85;
    text-align: center;
    margin-bottom: 50px;
}

button {
    width: 10%;
    height: 35px;
    margin: 5px;
    font-size: 80%;
    border-radius: 10px;
    background-color: #506256;
    color: aliceblue;
}

button:hover {
    background-color: #7FAE8F;
}

#menu {
text-align: center;
flex-direction: row;
}

#printButton {
    text-align: center;
    margin-top: 2%;   
}

h1 {
    color: #4D8E63;
}

.line {
    border-top: 2px solid green;
}

#profile {
    min-height: 100vh;
    background-color: #DAE1DC;
}

#skills {
    min-height: 100vh;
    background-color: #DAE1DC;
}

#experiences {
    min-height: 100vh;
    background-color: #DAE1DC;
}

#education {
    min-height: 100vh;
    background-color: #DAE1DC;
}

#pImg {
    border-radius: 25%;
    margin: 5% 0 8% 13%;
}

ul {
    list-style: none;
    padding: 0 10px 0 10px;
}

#info {
    float: right;
    margin: 5% 13% 0% 0;
    width: 25%;
    background-color: #BBC6BC;
    border-radius: 8%;
    padding: 10px;
    hyphens: auto;
    word-break: break-all;
}

#info > ul > li {
    margin-bottom: 8%;
}

.material-icons {
    margin-right: 7%;
    float: left;
}

.fab {
    margin-right: 8%;
    margin-left: 1%;
    float: left;
}

li.a {
    float: right;
} 

#story {
    margin: 0 13% 5% 13%;
    text-align: center;
    letter-spacing: 2px;
    line-height: 180%;
    background-color: #BBC6BC;
    border-radius: 15px;
    padding: 10px;
    width: 72.5%;
}

#pText{
    text-align: center;
    padding-top: 80px;
    font-size: 160%;
    letter-spacing: 4px;
}

.skillSection{
    margin: 0 13% 2% 13%;
    background-color: #BBC6BC;
    border-radius: 15px;
    padding: 10px;
    width: 72.5%;
}

#logo {
    margin-bottom: 10px;
}

.proSection {
    display: flex;
}

.proLeft {
    display: flex;
    flex: 40%;
    margin-right: 4%;
}

.proRight {
    display: flex;
    flex: 40%;
}

.side {
    flex: 25%;
}

.main {
    flex: 73%;
}

.side1 {
    flex: 80%;
}

.main1 {
    flex: 10%;
}

.side > div {
        margin-bottom: 4%;
}

.main > div {
        margin-bottom: 3%;
}

  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }

  .bar-java {width: 67%; height: 13px; margin: 3px 0 3px 0; background-color: #5892DD;}
  .bar-html {width: 71%; height: 13px; margin: 3px 0 3px 0; background-color: #DE341F;}
  .bar-css {width: 61%; height: 13px; margin: 3px 0 3px 0; background-color: #0E4DB5;}  
  .bar-script {width: 52%; height: 13px; margin: 3px 0 3px 0; background-color: #F3D204;}
  .bar-react {width: 66%; height: 13px; margin: 3px 0 3px 0; background-color: #28C9E6;}
  .bar-angular {width: 38%; height: 13px; margin: 3px 0 3px 0; background-color: #DE341F;}
  .bar-sql {width: 42%; height: 13px; margin: 3px 0 3px 0; background-color: #2EA2E5;}
  .bar-jquery {width: 33%; height: 13px; margin: 3px 0 3px 0; background-color: #091319;}
  .bar-git {width: 48%; height: 13px; margin: 3px 0 3px 0; background-color: #EF6123;}
  .bar-json {width: 58%; height: 13px; margin: 3px 0 3px 0; background-color: #2196F3;}
  .jsx {width: 55%; height: 13px; margin: 3px 0 3px 0; background-color: #4F5750;}
  .mvc {width: 65%; height: 13px; margin: 3px 0 3px 0; background-color: #1D6827;}

  #ss {
    margin-bottom: 4%;
    overflow: auto;
  }

 .workDetail {
   text-align: left; 
     margin-top: 1%;
     font-style: italic;
}

.date {
    text-align: right;
}

  /* .development {
    margin: 0 13% 2% 13%;
    background-color: #BBC6BC;
    border-radius: 15px;
    padding: 10px;
    width: 72.5%;
  } */

  #title {
    font-weight: bold;
    margin-bottom: 0.6%;
  }

  .educationSection {
    margin: 5% 13% 8% 10%;
    float: right;
    width: 72.5%;
    background-color: #BBC6BC;
    border-radius: 15px;
    padding: 10px;
  }

  #study {
    margin-bottom: 6.5%;
  }

  #detail {
    float: left;
    width: 70%;
  }

  #year {
    float: right;
    width: 15%;
    text-align: right;
  }

